<tr><th><label for="id_course">Course:</label></th><td><select class="form-cont
rol show-tick" id="id_course" name="course" required="1">
<option value="2">PSC/Hindi</option>
<option value="3" selected="selected">SSC/English</option>
<option value="5">Gate/English</option>
</select></td></tr>
<tr><th><label for="id_student_name">Student name:</label></th><td><input class
="form-control" id="id_student_name" maxlength="100" name="student_name" placeh
older="Name" required="1" type="text" value="gfd gvbbvd" /></td></tr>
<tr><th><label for="id_college">College:</label></th><td><input class="form-con
trol" id="id_college" maxlength="100" name="college" placeholder="College/Schoo
l" required="1" type="text" value="hfgnbhg" /></td></tr>
<tr><th><label for="id_graduation">Graduation:</label></th><td><input class="fo
rm-control" id="id_graduation" maxlength="100" name="graduation" placeholder="G
raduation/Standard" required="1" type="text" value="hgb" /></td></tr>
<tr><th><label for="id_mobile">Mobile:</label></th><td><input class="form-contr
ol" id="id_mobile" maxlength="13" name="mobile" placeholder="Mobile Number" req
uired="1" type="text" value="gfchfch" /></td></tr>
<tr><th><label for="id_email">Email:</label></th><td><input class="form-control
" id="id_email" maxlength="100" name="email" placeholder="Email Address" requir
ed="1" type="email" value="cnikita555@gmail.com" /></td></tr>
<tr><th><label for="id_address">Address:</label></th><td><input class="form-con
trol" id="id_address" maxlength="100" name="address" placeholder="Address" requ
ired="1" type="text" value="fgxfdg " /></td></tr>
<tr><th><label for="id_follow_up_date">Follow up date:</label></th><td><input c
lass="form-control" id="id_follow_up_date" maxlength="100" name="follow_up_date
" placeholder="Follow Up Date" required="1" type="text" value="hbfgvhb" /></td>
</tr>
<tr><th><label for="id_remark">Remark:</label></th><td><input class="form-contr
ol" id="id_remark" maxlength="500" name="remark" placeholder="Remark" required=
"1" type="text" value="ghfchfd" /></td></tr>
<tr><th><label for="id_visited_date">Visited date:</label></th><td><ul class="e
rrorlist"><li>This field is required.</li></ul><input id="id_visited_date" maxl
ength="100" name="visited_date" type="text" /></td></tr>