{% extends 'StudentHome/base.html' %}
{% block body %}
{% load static %}
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <h2>Dashboard</h2>
                    </div>
                    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                        <ul class="breadcrumb justify-content-end">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
            	<div class="col-lg-6 col-md-6" >
                    <div class="card w_profile">
                        <div class="body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="profile-image float-md-right"> <img src="{% static 'student/assets1/images/user.png' %}" alt=""> </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <h4 class="m-t-0 m-b-0"><strong>Samuel</strong> Thomas</h4>
                                    <span class="job_post">Ui UX Designer</span>
                                    <p>795 Folsom Ave, Suite 600 San Francisco, CADGE 94107</p>
                                    <p class="social-icon">
                                        <a title="Twitter" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                        <a title="Facebook" href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                        <a title="Google-plus" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                        <a title="Behance" href="javascript:void(0);"><i class="fa fa-behance"></i></a>
                                        <a title="Instagram" href="javascript:void(0);"><i class="fa fa-instagram "></i></a>
                                    </p>
                                    <div class="row">
                                        <div class="col-4">
                                            <h5>18K</h5>
                                            <small>Followers</small>
                                        </div>
                                        <div class="col-4">
                                            <h5>532</h5>
                                            <small>Following</small>
                                        </div>
                                        <div class="col-4">
                                            <h5>656</h5>
                                            <small>Tweets</small>
                                        </div>
                                    </div>
                                    <div class="m-t-15" style="margin-bottom: 16px;">
                                        <button class="btn btn-primary">Follow</button>
                                        <button class="btn btn-success">Message</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-6">
                    <div class="card top_report">
                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <i class="fa fa-2x fa-dollar text-col-blue"></i>
                                        </div>
                                        <div class="number float-right text-right">
                                            <h6>EARNINGS</h6>
                                            <span class="font700">$22,500</span>
                                        </div>
                                    </div>
                                    <div class="progress progress-xs progress-transparent custom-color-blue mb-0 mt-3">
                                        <div class="progress-bar" data-transitiongoal="87"></div>
                                    </div>
                                    <small class="text-muted">19% compared to last week</small>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <i class="fa fa-2x fa-bar-chart-o text-col-green"></i>
                                        </div>
                                        <div class="number float-right text-right">
                                            <h6>SALES</h6>
                                            <span class="font700">$500</span>
                                        </div>
                                    </div>
                                    <div class="progress progress-xs progress-transparent custom-color-green mb-0 mt-3">
                                        <div class="progress-bar" data-transitiongoal="28"></div>
                                    </div>
                                    <small class="text-muted">19% compared to last week</small>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <i class="fa fa-2x fa-shopping-cart text-col-red"></i>
                                        </div>
                                        <div class="number float-right text-right">
                                            <h6>Orders</h6>
                                            <span class="font700">215</span>
                                        </div>
                                    </div>
                                    <div class="progress progress-xs progress-transparent custom-color-red mb-0 mt-3">
                                        <div class="progress-bar" data-transitiongoal="41"></div>
                                    </div>
                                    <small class="text-muted">19% compared to last week</small>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <i class="fa fa-2x fa-thumbs-up text-col-yellow"></i>
                                        </div>
                                        <div class="number float-right text-right">
                                            <h6>LIKES</h6>
                                            <span class="font700">21,215</span>
                                        </div>
                                    </div>
                                    <div class="progress progress-xs progress-transparent custom-color-yellow mb-0 mt-3">
                                        <div class="progress-bar" data-transitiongoal="75"></div>
                                    </div>
                                    <small class="text-muted">19% compared to last week</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>



            <div class="row clearfix">
                <div class="col-lg-8 col-md-12">
                    <div class="card Sales_Overview">
                        <div class="header">
                            <h2>Your Test Series</h2>
                            <ul class="header-dropdown">
                                <li> <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>

                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover m-b-5">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>Profile</b>
                                            </td>
                                            <td><b>Exam Name</b>
                                            </td>
                                            <td><b>Course Name</b>
                                            </td>
                                            <td class="text-right">
                                                <b>Totel Exams</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-twitter fa-2x"></i>
                                            </td>
                                            <td>
                                                <p class="margin-0">Django based Web Development</p>
                                                <span>10/128 Questions</span>
                                            </td>
                                            <td>
                                                <h6 class="m-b-0">Python</h6>
                                            </td>
                                            <td class="text-right">
                                                <div class="text-success">
                                                    <i class="icon-graph"></i>
                                                    35
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-instagram fa-2x"></i>
                                            </td>
                                            <td>
                                                <p class="margin-0">SSC Hindi Medium</p>
                                                <span>10/158 Questions</span>
                                            </td>
                                            <td>
                                                <h6 class="mb-0">SSC</h6>
                                            </td>
                                            <td class="text-right">
                                                <div class="text-success">
                                                    <i class="icon-graph"></i>
                                                    50
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-linkedin fa-2x"></i>
                                            </td>
                                            <td>
                                                <p class="margin-0">GATE-Electronic and Communication</p>
                                                <span>50/500 Questions</span>
                                            </td>
                                            <td>
                                                <h6 class="mb-0">GATE-ECE</h6>
                                            </td>
                                            <td class="text-right">
                                                <div class="text-success">
                                                    <i class="icon-graph"></i>
                                                    80
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-twitter fa-2x"></i>
                                            </td>
                                            <td>
                                                <p class="margin-0">Django based Web Development</p>
                                                <span>10/128 Questions</span>
                                            </td>
                                            <td>
                                                <h6 class="m-b-0">Python</h6>
                                            </td>
                                            <td class="text-right">
                                                <div class="text-success">
                                                    <i class="icon-graph"></i>
                                                    35
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-instagram fa-2x"></i>
                                            </td>
                                            <td>
                                                <p class="margin-0">SSC Hindi Medium</p>
                                                <span>10/158 Questions</span>
                                            </td>
                                            <td>
                                                <h6 class="mb-0">SSC</h6>
                                            </td>
                                            <td class="text-right">
                                                <div class="text-success">
                                                    <i class="icon-graph"></i>
                                                    50
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-linkedin fa-2x"></i>
                                            </td>
                                            <td>
                                                <p class="margin-0">GATE-Electronic and Communication</p>
                                                <span>50/500 Questions</span>
                                            </td>
                                            <td>
                                                <h6 class="mb-0">GATE-ECE</h6>
                                            </td>
                                            <td class="text-right">
                                                <div class="text-success">
                                                    <i class="icon-graph"></i>
                                                    80
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-twitter fa-2x"></i>
                                            </td>
                                            <td>
                                                <p class="margin-0">Django based Web Development</p>
                                                <span>10/128 Questions</span>
                                            </td>
                                            <td>
                                                <h6 class="m-b-0">Python</h6>
                                            </td>
                                            <td class="text-right">
                                                <div class="text-success">
                                                    <i class="icon-graph"></i>
                                                    35
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-instagram fa-2x"></i>
                                            </td>
                                            <td>
                                                <p class="margin-0">SSC Hindi Medium</p>
                                                <span>10/158 Questions</span>
                                            </td>
                                            <td>
                                                <h6 class="mb-0">SSC</h6>
                                            </td>
                                            <td class="text-right">
                                                <div class="text-success">
                                                    <i class="icon-graph"></i>
                                                    50
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-linkedin fa-2x"></i>
                                            </td>
                                            <td>
                                                <p class="margin-0">GATE-Electronic and Communication</p>
                                                <span>50/500 Questions</span>
                                            </td>
                                            <td>
                                                <h6 class="mb-0">GATE-ECE</h6>
                                            </td>
                                            <td class="text-right">
                                                <div class="text-success">
                                                    <i class="icon-graph"></i>
                                                    80
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2 class="text-center">Learning Corners</h2>
                        </div>
                        <div class="body">
                            <div class="row text-center">
                                <div class="col-6 border-right border-bottom pb-4 pt-4">
                                   <a href="">  <div id="Traffic1" class="carousel vert slide" data-ride="carousel" data-interval="3000">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <label class="mb-0" style="font-size: 20px; color: black;">Quizes</label>
                                                <h4 class="font-30 font-weight-bold" style="color: red;">70</h4>
                                            </div>
                                        </div>
                                    </div></a>
                                </div>
                                <div class="col-6 border-bottom pb-4 pt-4">
                                    <a href=""> <div id="Traffic1" class="carousel vert slide" data-ride="carousel" data-interval="3000">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <label class="mb-0" style="font-size: 20px; color: black;">Daily Practice</label>
                                                <h4 class="font-30 font-weight-bold text-warning">42</h4>
                                            </div>
                                        </div>
                                    </div></a>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <div class="row text-center">
                                <div class="col-6 border-right border-bottom pb-4 pt-4">
                                   <a href="">  <div id="Traffic1" class="carousel vert slide" data-ride="carousel" data-interval="3000">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <label class="mb-0" style="font-size: 20px; color: black;">Study Material</label>
                                                <h4 class="font-30 font-weight-bold text-primary">545</h4>
                                            </div>
                                        </div>
                                    </div></a>
                                </div>
                                <div class="col-6 border-bottom pb-4 pt-4">
                                   <a href=""> <div id="Traffic1" class="carousel vert slide" data-ride="carousel" data-interval="3000">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <label class="mb-0" style="font-size: 20px; color: black;">Blogs</label>
                                                <h4 class="font-30 font-weight-bold text-success">20</h4>
                                            </div>
                                        </div>
                                    </div></a>
                                </div>
                            </div>
                        </div>
                        <div class="header">
                            <h2 class="text-center">Complated</h2>
                        </div>
                        <div class="body">
                            <div class="form-group">
                                <label class="d-block">Test Series <span class="float-right">77%</span></label>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">Practice Test<span class="float-right">50%</span></label>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">Quizes<span class="float-right">23%</span></label>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix" style="width: 100%; margin-bottom: -25px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2 style="color: #F5B041;">New Practice Tests</h2>
                        </div>
                    </div>
                </div>
            </div>

           <center><div class="row clearfix" style="width: 80%;">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="header">
                            <h2>DS - Design Team <small>Ranking 2th</small></h2>
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>
                             <table class="table table-hover m-b-0 c_list">
                            		<tbody>
                                       <tr>
                                        	<td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                        	<td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                        	<td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>

                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary">Start Practice</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="header">
                            <h2>DS - Design Team <small>Ranking 2th</small></h2>
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>
                             <table class="table table-hover m-b-0 c_list">
                            		<tbody>
                                       <tr>
                                        	<td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                        	<td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                        	<td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>

                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary">Start Practice</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="header">
                            <h2>DS - Design Team <small>Ranking 2th</small></h2>
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>
                             <table class="table table-hover m-b-0 c_list">
                            		<tbody>
                                       <tr>
                                        	<td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                        	<td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                        	<td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>

                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary">Start Practice</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="font-size: 15px;"><a href="">View All !</a></p>
            	</center>



            <div class="row clearfix" style="width: 100%; margin-bottom: -25px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2 style="color: #F5B041;">New Quizes</h2>
                        </div>
                    </div>
                </div>
            </div>
            	 <center><div class="row clearfix" style="width: 80%;">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="header">
                            <h2>DS - Design Team <small>Ranking 2th</small></h2>
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>
                            <table class="table table-hover m-b-0 c_list">
                            		<tbody>
                                       <tr>
                                        	<td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                        	<td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                        	<td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>

                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary">Start Practice</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="header">
                            <h2>DS - Design Team <small>Ranking 2th</small></h2>
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>

                            <table class="table table-hover m-b-0 c_list">
                            		<tbody>
                                       <tr>
                                        	<td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                        	<td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                        	<td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>

                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary">Start Practice</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="header">
                            <h2>DS - Design Team <small>Ranking 2th</small></h2>
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>
                            <table class="table table-hover m-b-0 c_list">
                            	<tbody>
                                       <tr>
                                        	<td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                        	<td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                        	<td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>

                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary">Start Practice</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="font-size: 15px;"><a href="">View All !</a></p>
            	</center>




 <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2>Your Last Attempts</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover m-b-0 c_list">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Totel Questions</th>
                                            <th>Total Marks</th>
                                            <th>Obtained Marks</th>
                                            <th>Your Rank</th>
                                            <th>Detail View</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                            	<img src="{% static 'student/assets1/images/xs/avatar1.jpg' %}" class="rounded-circle avatar" alt="">
                                                <p class="c_name">John Smith </p>
                                            </td>
                                            <td>
                                                <span class="phone">30</span>
                                            </td>
                                            <td>
                                                <address>30</address>
                                            </td>
                                            <td>
                                                <address>25</address>
                                            </td>
                                            <td>
                                                <address>10/120</address>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                       	<tr>
                                            <td>
                                            	<img src="{% static 'student/assets1/images/xs/avatar1.jpg' %}" class="rounded-circle avatar" alt="">
                                                <p class="c_name">John Smith </p>
                                            </td>
                                            <td>
                                                <span class="phone">30</span>
                                            </td>
                                            <td>
                                                <address>30</address>
                                            </td>
                                            <td>
                                                <address>25</address>
                                            </td>
                                            <td>
                                                <address>10/120</address>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                       <tr>
                                            <td>
                                            	<img src="{% static 'student/assets1/images/xs/avatar1.jpg' %}" class="rounded-circle avatar" alt="">
                                                <p class="c_name">John Smith </p>
                                            </td>
                                            <td>
                                                <span class="phone">30</span>
                                            </td>
                                            <td>
                                                <address>30</address>
                                            </td>
                                            <td>
                                                <address>25</address>
                                            </td>
                                            <td>
                                                <address>10/120</address>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}