{% extends 'StudentHome/base.html' %}
{% block body %}
{% load static %}


    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <h2>My Test Series</h2>
                    </div>            
                    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                        <ul class="breadcrumb justify-content-end">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item active">My Test Series</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>Test Series</h2>
                        </div>

                        <div class="body">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Home-new2">My Performance Board</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Profile-new2">My Tests</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Contact-new2">Attempted</a></li>
                            </ul>
                            <!----Main Tabes Start --->
                                        <!----First Tabe Start --->
                            
        <div class="tab-content">
            <div class="tab-pane show active" id="Home-new2">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                        <div class="card tasks_report">
                            <div class="body">
                                <h6 class="m-t-20">Progress Rate</h6>
                                <input type="text" class="knob" value="66" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#26dad2" readonly>                        
                                
                                <table class="table table-hover m-b-0 c_list">
                                        <tbody>
                                           <tr>
                                                <td>Total Question - 150</td>
                                            </tr>
                                            <tr>
                                                <td>Total Marks - 300</td>
                                            </tr>
                                            <tr>
                                                <td>Minutes - 60</td>
                                            </tr>
                                        </tbody>
                                </table>                        
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                        <div class="card tasks_report">
                            <div class="body">
                                <h6 class="m-t-20">Attempted Questions</h6>
                                <input type="text" class="knob" value="56" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#7b69ec" readonly>
                                
                                <table class="table table-hover m-b-0 c_list">
                                        <tbody>
                                           <tr>
                                                <td>Total Question - 150</td>
                                            </tr>
                                            <tr>
                                                <td>Total Marks - 300</td>
                                            </tr>
                                            <tr>
                                                <td>Minutes - 60</td>
                                            </tr>
                                        </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                        <div class="card tasks_report">
                            <div class="body">
                                <h6 class="m-t-20">Accuracy</h6>
                                <input type="text" class="knob" value="76" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#f9bd53" readonly>
                                <table class="table table-hover m-b-0 c_list">
                                        <tbody>
                                           <tr>
                                                <td>Total Question - 150</td>
                                            </tr>
                                            <tr>
                                                <td>Total Marks - 300</td>
                                            </tr>
                                            <tr>
                                                <td>Minutes - 60</td>
                                            </tr>
                                        </tbody>
                                </table> 
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                        <div class="card tasks_report">
                            <div class="body">
                                <h6 class="m-t-20">Time Spent</h6>
                                <input type="text" class="knob" value="95" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#00adef" readonly>
                                
                                
                                <table class="table table-hover m-b-0 c_list">
                                        <tbody>
                                           <tr>
                                                <td>Total Question - 150</td>
                                            </tr>
                                            <tr>
                                                <td>Total Marks - 300</td>
                                            </tr>
                                            <tr>
                                                <td>Minutes - 60</td>
                                            </tr>
                                        </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        <!----First Tab End --->
                            

    <div class="tab-pane" id="Profile-new2">
        <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="body">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Home-new3">Home</a></li>
                            </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="Home-new3">
                <center><div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-6" >
                    <div class="card" style="background-color: #ECF0F1; max-width: 280px;">
                        <div class="header">
                            <h2>DS - Team <small>Ranking 2th</small></h2> 
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>
                             <table class="table table-hover m-b-0 c_list">
                                    <tbody>
                                       <tr>
                                            <td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                            <td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                            <td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>
                            
                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <a href="{% url 'StudentPanel:start_quiz' %}"><button type="button" class="btn btn-secondary">Start Quiz</button></a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card" style="background-color: #ECF0F1; max-width: 280px;">
                        <div class="header">
                            <h2>DS - Design Team <small>Ranking 2th</small></h2> 
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>                                
                             <table class="table table-hover m-b-0 c_list">
                                    <tbody>
                                       <tr>
                                            <td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                            <td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                            <td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>
                            
                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary">Start Practice</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card" style="background-color: #ECF0F1; max-width: 280px;">
                        <div class="header">
                            <h2>DS - Design Team <small>Ranking 2th</small></h2>
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>                                
                             <table class="table table-hover m-b-0 c_list">
                                    <tbody>
                                       <tr>
                                            <td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                            <td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                            <td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>
                            
                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary">Start Practice</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="font-size: 15px;"><a href="">View All !</a></p>
                </center>
        </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="body">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Home-new3">Home</a></li>
                            </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="Home-new3">
                <center><div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-6" >
                    <div class="card" style="background-color: #ECF0F1; max-width: 280px;">
                        <div class="header">
                            <h2>DS - Team <small>Ranking 2th</small></h2> 
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>
                             <table class="table table-hover m-b-0 c_list">
                                    <tbody>
                                       <tr>
                                            <td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                            <td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                            <td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>
                            
                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary">Start Practice</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card" style="background-color: #ECF0F1; max-width: 280px;">
                        <div class="header">
                            <h2>DS - Design Team <small>Ranking 2th</small></h2> 
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>                                
                             <table class="table table-hover m-b-0 c_list">
                                    <tbody>
                                       <tr>
                                            <td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                            <td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                            <td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>
                            
                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary">Start Practice</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card" style="background-color: #ECF0F1; max-width: 280px;">
                        <div class="header">
                            <h2>DS - Design Team <small>Ranking 2th</small></h2>
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>                                
                             <table class="table table-hover m-b-0 c_list">
                                    <tbody>
                                       <tr>
                                            <td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                            <td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                            <td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>
                            
                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary">Start Practice</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="font-size: 15px;"><a href="">View All !</a></p>
                </center>
        </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>



    <div class="tab-pane" id="Contact-new2">
        <center><div class="row clearfix" style="width: 90%;">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card" style="background-color: #ECF0F1; max-width: 280px;">
                        <div class="header">
                            <h2>DS - Design Team <small>Ranking 2th</small></h2> 
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>
                             <table class="table table-hover m-b-0 c_list">
                                    <tbody>
                                       <tr>
                                            <td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                            <td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                            <td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>
                            
                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary">Start Practice</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card" style="background-color: #ECF0F1; max-width: 280px;">
                        <div class="header">
                            <h2>DS - Design Team <small>Ranking 2th</small></h2> 
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>                                
                             <table class="table table-hover m-b-0 c_list">
                                    <tbody>
                                       <tr>
                                            <td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                            <td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                            <td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>
                            
                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary">Start Practice</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card" style="background-color: #ECF0F1; max-width: 280px;">
                        <div class="header">
                            <h2>DS - Design Team <small>Ranking 2th</small></h2>
                        </div>
                        <div class="body">
                            <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>                                
                             <table class="table table-hover m-b-0 c_list">
                                    <tbody>
                                       <tr>
                                            <td>Total Question - 150</td>
                                        </tr>
                                        <tr>
                                            <td>Total Marks - 300</td>
                                        </tr>
                                        <tr>
                                            <td>Minutes - 60</td>
                                        </tr>
                                    </tbody>
                            </table>
                            
                            <div class="progress progress-xs progress-transparent custom-color-blue">
                                <div class="progress-bar" data-transitiongoal="87"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary">Start Practice</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="font-size: 15px;"><a href="">View All !</a></p>
                </center>
    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




 <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2>Your Last Attempts</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover m-b-0 c_list">
                                    <thead>
                                        <tr>
                                            <th>Name</th>                                    
                                            <th>Totel Questions</th>
                                            <th>Total Marks</th>
                                            <th>Obtained Marks</th>                            
                                            <th>Your Rank</th>
                                            <th>Detail View</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                            	<img src="../assets/images/xs/avatar1.jpg" class="rounded-circle avatar" alt="">
                                                <p class="c_name">John Smith </p>
                                            </td>
                                            <td>
                                                <span class="phone">30</span>
                                            </td>                                   
                                            <td>
                                                <address>30</address>
                                            </td>
                                            <td>
                                                <address>25</address>
                                            </td>
                                            <td>
                                                <address>10/120</address>
                                            </td>
                                            <td>                                            
                                                <button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                       	<tr>
                                            <td>
                                            	<img src="../assets/images/xs/avatar1.jpg" class="rounded-circle avatar" alt="">
                                                <p class="c_name">John Smith </p>
                                            </td>
                                            <td>
                                                <span class="phone">30</span>
                                            </td>                                   
                                            <td>
                                                <address>30</address>
                                            </td>
                                            <td>
                                                <address>25</address>
                                            </td>
                                            <td>
                                                <address>10/120</address>
                                            </td>
                                            <td>                                            
                                                <button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                       <tr>
                                            <td>
                                            	<img src="../assets/images/xs/avatar1.jpg" class="rounded-circle avatar" alt="">
                                                <p class="c_name">John Smith </p>
                                            </td>
                                            <td>
                                                <span class="phone">30</span>
                                            </td>                                   
                                            <td>
                                                <address>30</address>
                                            </td>
                                            <td>
                                                <address>25</address>
                                            </td>
                                            <td>
                                                <address>10/120</address>
                                            </td>
                                            <td>                                            
                                                <button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
 {% endblock %}